# ====For Python====
__pycache__/
*.py[cod]
*$py.class
*.ropeproject

# ====For C====
*.so
*.so.*
*.a
*.o
*.obj
*.elf

# ====For Golang====
*.so
*.dylib
*.test

VideoAnalytics/l_openvino*
docker_setup/provision/Certificates
docker_setup/provision/client/
docker_setup/provision/rootca/
docker_setup/provision/server/
docker_setup/provision/dep/node*.env
.vscode
