# ====For Python====
__pycache__/
*.py[cod]
*$py.class
*.ropeproject

# ====For C====
*.so
*.so.*
*.a
*.o
*.obj
*.elf

# ====For Golang====
*.so
*.dylib
*.test

DataAnalytics/VideoAnalytics/l_openvino*
cert-tool/Certificates
cert-tool/client/
cert-tool/rootca/
cert-tool/server/
.vscode
