[Unit]
Description=ETA infrastructure service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
WorkingDirectory=/opt/intel/eta/
ExecStart=/opt/intel/eta/deploy/deploy_compose_startup.sh
ExecStop=/opt/intel/eta/deploy/deploy_compose_shutdown.sh
TimeoutSec=301s

[Install]
WantedBy=multi-user.target
