[Unit]
Description=IEI infrastructure service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
WorkingDirectory=/opt/intel/iei/
ExecStart=/opt/intel/iei/compose_startup.sh --up deploy_mode
ExecStop=/opt/intel/iei/compose_startup.sh --down
TimeoutSec=301s

[Install]
WantedBy=multi-user.target

