cert-tool/
DataIngestionLib/
dist_libs/
docker_setup/
FactoryControlApp/
licenses/
StreamManager/
StreamSubLib/
Telegraf/
test_videos/
VideoIngestion/
DataAnalytics/VideoAnalytics/
basler-source-plugin/
.git

# Recursively remove all unwanted files
**/*.md
**/*.mp4
**/*.avi
**/*.json
**/*.pyc
**/*.tar
**/*.log
**/*.log.*
